services:
  streamrip:
    build: .
    container_name: streamrip-web
    user: "1000:1000"
    environment:
      - HOME=/config
      - XDG_CONFIG_HOME=/config
      - STREAMRIP_CONFIG=/config/streamrip/config.toml
      - DOWNLOAD_DIR=/music
      - MAX_CONCURRENT_DOWNLOADS=6
    volumes:
      - ./config:/config/streamrip:rw
      - /mnt/extrainternal/Musique:/music:rw
    ports:
      - "5002:5000"
    restart: unless-stopped
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.streamrip.rule=Host(`music.home`)"
      - "traefik.http.routers.streamrip.entrypoints=http"
      - flame.type=application
      - flame.name=Streamrip
      - flame.url=http://music.home
      - flame.icon=music

networks:
  web:
    external: true
